@media (max-width: 600px){
  body{
    overflow-x: hidden;
  }
  .bar{
  display: none;
  }
  .hamburger{
  display: block;
  }
  .headertext{
  text-align: center;
  }
  .titleText{
    text-align: center;
  }
  /* ---------------------------------------------------- */
  /* ABOUT PAGE */
  /* ---------------------------------------------------- */
  .hero{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #headshot{
    width: 60vw; 
    margin-top: 10%;
  }
  .heroText{
  width: 80vw;
  text-align: center;
  }
  #personalimgs {
    height: auto;
  margin-top: 100px;
  display: block;
  }
  .personal{
    width: 100vw;
    margin-left: 0;

  }
  .HPtitle{
  display: none;
  }
  .HPtitle-sm{
  display: block;
  text-align: center;
  margin-top: 65%;
  font-size: 60px;
  margin-bottom: 0%;
  background: -webkit-linear-gradient(0deg, #264d59 0%, #43978d 25%, #f9e07f 50%, #f9ad6a 75%, #d46c4e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .HPsubtitle-sm{
  display: block;
  text-align: center;
  font-size: 30px;
  margin-top: 2%;
  }

  .projPresentationA{
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 0;
  }
  .projPresentationB{
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  }
  .vid{
  display: block;
  }
  .section{
  margin: 0%;
  }
  /* ---------------------------------------------------- */
  /* PLAY PAGE */
  /* ---------------------------------------------------- */
  .playsection{
  width: 100%;
  margin: 2% 0;
  }
  /* ---------------------------------------------------- */
  /* WORK PAGE */
  /* ---------------------------------------------------- */
  .splinemac{
  display: none;
  transition: 1s;
  }
  .staticMac{
  display: block;
  width: 350px;
  transition: 1s;
  }
  .projPresentationA, .projPresentationB{
  width: 90%;
  margin: 5%;
  }
  .text1, .text2, .text3, .text4{
  color: #264d59;
  text-align: center;
  }
  .bckgndShape1, .bckgndShape2, .bckgndShape3, .bckgndShape4{
  display: none;
  }
}