
*{
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}
nav {
    background-color: rgb(150, 169, 163);
    height: 90px;
    margin: 5%;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
#navbar {
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;

    margin-top: 40px;
    color: rgb(255, 255, 255);
    
}
:any-link{
    text-decoration: none;
    color: white;
}
#banner {
    width: 90%;
    justify-content: center;
    margin: 5%;
}
#card {
    background-color: rgba(65, 61, 61, 0.501);
    margin: 1%;
    width: 31%;
    color: rgb(240, 248, 255);
    border-radius: 20px;
}
#carddiv {
    margin: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#cardimg {
    width: 100%;
}
#cardtext{
    padding: 3%;
}
#logo {
    width: 150px;
    opacity: .6;
}
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
#social {
    width: 30px;
}
#logos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
#sociallogos{

    justify-content: space-between;
    margin: 15px;
}

@media (max-width: 800px) {
    nav {
        height: 40px;
        margin: 0;
    }
    #navbar {
        font-size: 8px;    
        font-weight: bolder;
        margin-top: 18px;        
    }
    #banner {
        width: 100%;
        margin: 0;
    }
    #card {
        margin: 0%;
        margin-top: 2%;
        margin-bottom: 2%;
        width: 48%;

    }
    #carddiv {
        margin: 0%;
    }
}
@media (max-width: 600px) {
    nav {
        height: 40px;
        margin: 0;
    }
    #navbar {
        font-size: 8px;    
        font-weight: bolder;
        margin-top: 18px;        
    }
    #banner {
        width: 100%;
        margin: 0;
    }
    #card {
        margin: 1%;
        width: 98%;
    }
}